.analysis-box {
  width: 100%;
  padding: 30px 0px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 93, 99, 0.03);
  text-align: center;
  transition: all .3s linear;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: auto;
    transition: all .3s linear;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 20px 0px;
  }

  .number {
    font-size: 25px;
    font-weight: 900;
    color: #005D63;
    margin: 0px;
  }

  &:hover {
    transform: translateY(-10px);

    img {
      animation: storm .4s linear both;
    }
  }
}