@media (max-width: 999px) {
  .login .form-contain, .modal-body.part-modal-body, .school-modal .modal-body.part-modal-body {
    padding: 50px 20px !important;
  }

  .navbar {
    width: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    
    .content {
      .logo-contain, .search-icon {
        display: flex !important;
      }

      .name, .form-contain, .nav-item.dropdown .dropdown-toggle::after , .nav-item.dropdown .drop-contain {
        display: none;
      }

      .user-data .nav-item.dropdown .dropdown-toggle {
        padding: 0px !important;

        img {
          margin-inline-end: 0px !important;
        }
      }
    }
  }

  .side-nav {
    width: 100%;
    position: absolute;
    top: 100px;
    right: -100%;
    z-index: 996;
    padding-bottom: 150px !important;
    transition: all .3s linear;

    &::after {
      opacity: .5;
    }

    .logo-contain {
      display: none !important;
    }

    .name {
      display: block !important;
    }

    .navbar-nav .nav-item {
      .nav-link {
        justify-content: flex-start !important;

        span {
          display: block !important;
        }

        &::before {
          display: block !important;
        }  
      }
    }

    &.acitve-nav {
      width: 100% !important;
      right: 0px !important;

      .navbar-nav .nav-item {
        .nav-link {
          justify-content: flex-start !important;
  
          span {
            display: block !important;
          }

          &::before {
            display: block !important;
          } 
        }
      }
    }
  }

  .main-content, &.active-main {
    padding: 120px 0px 40px !important;
  }

  .main-content {
    .heading {
      flex-direction: column !important;
      align-items: flex-start !important;
      align-content: flex-start !important;
      justify-content: flex-start !important;

      .head-contain {
        margin-bottom: 20px;
      }
    }
  }

  .filter-modal .filter-contain {
    width: 100% !important;
    padding: 30px 16px !important;
  }

  .modal-body.part-modal-body {
    .data-branch-manager {
      li {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        align-content: flex-start !important;
        .data {
          width: 100% !important;
        }

        .desc {
          width: 100%;
          margin-top: 14px !important;
          text-align: start !important;
        }
      }
    }

    .item {
      padding: 20px 10px !important;
    }
  }

  .manager-modal, .school-modal {
    min-width: 100% !important;

    
  }
  
  .parts-box {
    .form-contain {
      padding-inline-end: 0px !important;
    }
  }

  .modal-body.part-modal-body .heading-modal .close-modal img {
    top: 20px;
    left: 20px;
  }

  .modal-body.part-modal-body .nav.requset-nav {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start !important;

    &::-webkit-scrollbar, &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb:hover {
      background: transparent !important;
      width: 0px !important;
      height: 0px !important;
    }

    .nav-item {
      min-width: 200px !important;
      text-align: center;
    }
  }

  .modal-body.part-modal-body .container.owl-nav {
    bottom: 50px !important;
    transform: translate(0px) !important;
    top: unset !important;

    button.owl-prev {
      right: calc(50% - 60px) !important;
    }

    button.owl-next {
      left: calc(50% - 60px) !important;
    }
  }

  .owl-carousel .owl-stage-outer {
    padding-bottom: 60px !important;
  }

  .table-resposive {
    table {
      td, th {
        padding-inline-start: 10px !important;
        min-width: 150px !important;

        &:last-child {
          min-width: 68px !important;
        }
      }
    }
  }
}