.parts-box {
  width: 100%;
  height: 100%;
  padding: 30px 24px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba($color: #005D63, $alpha: 0.03);
  transition: all .3s linear;

  &.powers {
    padding: 20px 15px !important;
  }

  .flex-data {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 24px;

    &.no-margin {
      margin: 0px !important;
    }

    h2 {
      font-size: 18px;
      font-weight: 700;
      color: #000;
      margin-bottom: 0px;
    }

    .choose-data {

      img {
        width: 10px;
        height: 24px;
        object-fit: contain;
      }

      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      width: 193px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 30px rgba($color: #005D63, $alpha: 0.03);
      padding: 0px 20px;
      border: 0px !important;
      
      .dropdown-item {
        display: flex;
        align-items: center;
        align-content: center;
        padding: 20px 0px;
        border-bottom: 1px solid #F2F2F2;

        &:last-child {
          border-bottom: 0px !important;
        }

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          margin-inline-end: 10px;
        }

        span {
          color: #000;
          font-size: 16px;
          font-weight: 500;
        }

        &:hover {
          background-color: transparent !important;

          img {
            animation: rotation .4s linear 3;
          }

          span {
            color: #005D63;
          }
        }
      }
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;
    color: #909090;
    margin-top: 10px;
  }

  .data-list {
    li {
      display: flex;
      align-items: center;
      align-content: center;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0px !important;
      }

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-inline-end: 10px;
      }

      span {
        color: #000;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .data-contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    .image-content {
      width: 120px;
      height: 120px;
      background: rgba(213, 185, 139, 0.1);
      border: 1px solid rgba(213, 185, 139, 0.15);
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: 900;
      color: #000;
      margin: 20px 0px;
    }
  }

  .name {
    padding: 11px 21px;
    background-color: #D5B98B;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    width: fit-content;
  }

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 0px;
    border-bottom: 1px solid #E5E5E5;
    margin: 36px 0px 44px;

    .nav-item {
      width: fit-content;
      padding: 0px !important;
      border: 0px !important;
      padding-inline-end: 80px !important;

      &:last-child {
        padding-inline-end: 0px !important;
      }
      
      .nav-link {
        width: 100%;
        border: 0px !important;
        padding: 0px 0px 23px 0px !important;
        position: relative;
        z-index: 9;
        color: #909090 !important;

        &::after {
          content: '';
          position: absolute;
          width: 50px;
          height: 1px;
          background-color: #D5B98B;
          bottom: 0px;
          left: calc(50% - 25px);
          z-index: -1;
          transform: scaleX(0);
          transition: all .2s linear;
        }

        img {
          width: 23px;
          height: 20px;
          object-fit: contain;
          margin-inline-end: 7px;
          filter: invert(57%) sepia(0%) saturate(0%) hue-rotate(20deg) brightness(99%) contrast(97%);
        }

        span {
          color: #909090;
          font-size: 16px;
          font-weight: 500;
          line-height: 16px;
          margin: 0px;
        }

        &.active, &:hover {
          background-color: transparent !important;
          color: #005D63 !important;
          
          img {
            animation: niceAnimate .3s linear;
            filter: invert(73%) sepia(52%) saturate(225%) hue-rotate(358deg) brightness(95%) contrast(86%);
          }

          span {
            color: #005D63 !important;
          }
          
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .buttons-selected {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 50px;

    &::-webkit-scrollbar, &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb:hover {
      background: transparent !important;
      width: 0px !important;
      height: 0px !important;
    }

    li {
      margin-inline-end: 10px;
      min-width: 150px;

      a {
        width: 150px;
        height: 47px;
        background-color: #E5E5E5;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        align-content: center;
        font-size: 16px;
        font-weight: 500;
        color: #909090;

        &:hover, &.active {
          background-color: #005D63;
          color: #fff;
        }
      }
    }
  }

  .remove-bnt {
    width: 150px;
    height: 47px;
    background-color: #F83636;
    border-radius: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 27px;
    justify-content: center;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin-inline-end: 10px;
    }

    span {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
    }

    &:hover img {
      animation: tada .4s linear both;
    }
  }

  .form-contain {
    width: 100%;
    padding-inline-end: 150px;

    &.no-padding {
      padding-inline-end: 0px !important;
    }

    .form-group {
      width: 100%;
      margin-bottom: 20px;

      label {
        width: 100%;
        display: block;
        margin-bottom: 15px;
        color: #000;
        font-size: 14px;
        font-weight: 500;
      }

      .form-input {
        width: 100%;
        height: 47px;
        
        &.select-input {
          position: relative;
          z-index: 9;

          &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: url('../images/navbar/arrow_down.svg') center / contain no-repeat;
            top: calc(50% - 10px);
            left: 13px;
            z-index: 0;
          }
        }

        &.history {
          position: relative;
          z-index: 9;

          &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: url('../images/parts/calendar.svg') center / contain no-repeat;
            top: calc(50% - 10px);
            left: 13px;
            z-index: 0;
          }

          .form-control {
            color: #909090 !important;
            text-align: right !important;
          }

          input[type="date"]::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }
        }

        &.show_hide_password {
          position: relative;

          .show_pass {
            font-size: 18px;
            color: #909090;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            cursor: pointer;
    
            &:hover {
              color: #D5B98B;
            }
          }
        }

        .form-control {
          background-color: #fff;
          border: 1px solid rgba(0, 93, 99, 0.1);
          padding: 0px 20px;
          height: 100%;
          width: 100%;
          color: #005D63;
          font-size: 16px;
          font-weight: 500;
          border-radius: 24px;
          appearance: none;
          resize: none;

          &::placeholder {
            color: #909090;
            font-size: 16px;
            font-weight: 500;
          }

          &:focus, &:hover {
            background-color:  rgba(0, 93, 99, 0.06);
          }
        }
        
        &.text-area {
          height: 100px;

          .form-control {
            padding: 14px 15px !important;
            border-radius: 15px !important;

            &:hover, &:focus {
              background-color: #fff !important;
            }
          }
        }
      }
    }

    .file-upload {
      width: 224px;
      height: 150px;

      input[type="file"] {
        display: none;
      }

      .file-upload-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        background: rgba(213, 185, 139, 0.1);
        border: 1px solid rgba(0, 93, 99, 0.1);
        border-radius: 24px;
        cursor: pointer;

        img {
          width: 40px;
          height: 40px;
          object-fit: contain;
          transition: all .3s linear;
        }

        h2 {
          color: #909090;
          font-size: 16px;
          font-weight: 500;
          margin: 15px 0px;
        }

        p {
          color: #D5B98B;
          font-size: 11px;
          font-weight: 500;
          margin: 0px;
        }

        &:hover img {
          transform: translateY(-10px);
        }
      }
    }

    .wrapper{
      display: flex;
      align-items: center;
      align-content: center;
      cursor: pointer;

      .radio-check{
        appearance: none;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #D5B98B;
        background-color: #fff;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-inline-end: 10px;

        &::after{
          content: '\f00c';
          width: 20px;
          height: 20px;
          background-color: #D5B98B;
          border-radius: 50%;
          color: #fff;
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          justify-content: center;
          align-items: center;
          align-content: center;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 12px;
          transform: scale(0);
          transition: all .4s linear;
          top: 0;
          left: 0;
        }

        &:checked{
          &::after{
            transform: scale(1);
          }
        }
      }

      .radio-title{
        color: #000;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
      }

      &:hover {
        .radio-title {
          color: #005D63;
        }
      }
    }
  }

  &:hover {
    h2 {
      color: #005D63;
    }
  }
}

.power-table {
  th, td {
    min-width: 200px !important;

    &.choose {
      min-width: 100px !important;
    }
  }
}

.power-list {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  li {
    padding-inline-start: 30px;
    position: relative;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    margin-inline-end: 12px;
    margin-block-end: 20px;
    z-index: 9;

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: url('../images/parts/tick_circle.svg') center / contain no-repeat;
      top: calc(50% - 10px);
      right: 0px;
      z-index: -1;
    }
  }

  .wrapper {
    margin-inline-end: 25px !important;
    margin-block-end: 28px;

    label {
      color: #000000;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.numbers {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  li {
    margin-inline-end: 10px;

    .circle {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
      color: #005D63;
      border: 1px solid #005D63;

      &.active, &:hover {
        background-color: #005D63;
        color: #fff;
      }
    }

    &:last-child {
      margin-inline-end: 0px;
    }
  }
}

.school-modal {
  .modal-body.part-modal-body {
    padding: 40px 83px !important;
  }
}

.modal-body.part-modal-body {
  width: 100%;
  padding: 40px 60px;
  border-radius: 10px !important;
  outline: none !important;
  overflow: hidden;
  border: 0px !important;
  background: #fff url('../images/navbar/side_pattern.png') bottom right / cover no-repeat;
  text-align: center;

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: auto;
  }

  .low-margin {
    margin: 24px 0px 40px !important;
  }

  .top-margin {
    margin-top: 24px !important;
  }

  h1 {
    font-size: 25px;
    font-weight: 900;
    color: #000;
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    color: #919191;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    text-align: center;

    span {
      color: #005D63;
      display: block !important;
    }
  }
  

  .form-contain {
    width: 100%;

    .form-group {
      width: 100%;
      margin-bottom: 20px;

      label {
        width: 100%;
        display: block;
        margin-bottom: 15px;
        color: #000;
        font-size: 14px;
        text-align: right !important;
        font-weight: 500;
      }

      .form-input {
        width: 100%;
        height: 47px;
        
        &.select-input {
          position: relative;
          z-index: 9;

          &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: url('../images/navbar/arrow_down.svg') center / contain no-repeat;
            top: calc(50% - 10px);
            left: 13px;
            z-index: 0;
          }
        }

        &.history {
          position: relative;
          z-index: 9;

          &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: url('../images/parts/calendar.svg') center / contain no-repeat;
            top: calc(50% - 10px);
            left: 13px;
            z-index: 0;
          }

          .form-control {
            color: #909090 !important;
            text-align: right !important;
          }

          input[type="date"]::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }
        }

        &.show_hide_password {
          position: relative;

          .show_pass {
            font-size: 18px;
            color: #909090;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            cursor: pointer;
    
            &:hover {
              color: #D5B98B;
            }
          }
        }
        
        &.text-area {
          height: 100px;

          .form-control {
            padding: 20px;

            &:hover, &:focus {
              background-color: #fff !important;
            }
          }
        }

        .form-control {
          background-color: #fff;
          border: 1px solid rgba(0, 93, 99, 0.1);
          padding: 0px 20px;
          height: 100%;
          width: 100%;
          color: #005D63;
          font-size: 16px;
          font-weight: 500;
          border-radius: 24px;
          appearance: none;
          resize: none;

          &::placeholder {
            color: #909090;
            font-size: 16px;
            font-weight: 500;
          }

          &:focus, &:hover {
            background-color:  rgba(0, 93, 99, 0.06);
          }
        }
      }

      &.text-area {
        height: 100px;

        .form-control {
          resize: none !important;
          padding: 14px 15px !important;
          border-radius: 15px !important;

          &:hover, &:focus {
            background-color: #fff !important;
          }
        }
      }
    }
  }

  .buttons-contain {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 4px;

    .modal-btn {
      width: 182px;
      height: 47px;
      border-radius: 24px;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      z-index: 9;
      position: relative;
      overflow: hidden;

      &:last-child {
        margin-inline-start: 16px;
      }

      &::after, &::before {
        content: '';
        position: absolute;
        height: 100%;
        z-index: -1;
        background-color: #005D63;
        top: 0;
        transition: all .3s linear;
      }

      &::after {
        left: 0;
      }

      &::before {
        right: 0;
      }

      &.red-bk {
        color: #fff;

        &::after, &::before {
          width: 55%;
          background-color: #F83636;
        }

        &:hover {
          border: 1px solid #F83636;
          color: #F83636;

          &::after, &::before {
            width: 0%;
          }
        }
      }

      &.blue-bk {
        border: 1px solid #005D63;
        color: #fff;

        &::after, &::before {
          width: 55%;
        }

        &:hover {
          color: #005D63;

          &::after, &::before {
            width: 0%;
          }
        }
      }

      &.blue-border {
        border: 1px solid #005D63;
        background-color: #fff;
        color: #005D63;

        &::after, &::before {
          width: 0px;
        }

        &:hover {
          border: 0px !important;
          color: #fff;

          &::after, &::before {
            width: 55%;
          }
        }
      }
    }
  }

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 0px;
    border-bottom: 1px solid #E5E5E5;
    margin: 36px 0px 44px;

    &.requset-nav {
      padding: 30px 0px 0px 0px;
      border-top: 1px solid #E5E5E5;
      margin: 0px 0px 40px 0px !important;

      .nav-item {
        width: 25%;
        
        .nav-link {
          padding-bottom: 30px !important;
        }
      }
    }

    .nav-item {
      width: 50%;
      padding: 0px !important;
      border: 0px !important;
      
      .nav-link {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: 0px !important;
        padding: 0px 0px 23px 0px !important;
        position: relative;
        z-index: 9;
        color: #909090 !important;

        &::after {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          background-color: #D5B98B;
          bottom: 0px;
          left: calc(50% - 25px);
          z-index: -1;
          transform: scaleX(0);
          transition: all .2s linear;
        }

        img {
          width: 23px;
          height: 20px;
          object-fit: contain;
          margin-inline-end: 7px;
          filter: invert(57%) sepia(0%) saturate(0%) hue-rotate(20deg) brightness(99%) contrast(97%);
        }

        span {
          color: #909090;
          font-size: 16px;
          font-weight: 500;
          line-height: 16px;
          margin: 0px;
        }

        &.active, &:hover {
          background-color: transparent !important;
          color: #005D63 !important;
          
          img {
            animation: niceAnimate .3s linear;
            filter: invert(73%) sepia(52%) saturate(225%) hue-rotate(358deg) brightness(95%) contrast(86%);
          }

          span {
            color: #005D63 !important;
          }
          
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .owl-carousel .owl-stage-outer  {
    padding-bottom: 30px;
  }

  .heading-modal {
    width: 100%;
    border-bottom: 1px solid rgba(0, 93, 99, 0.1);
    padding-bottom: 36px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    &.school-name {
      border: 0px !important;
      padding: 0px !important;
      margin-bottom: 20px !important;
    }

    h1 {
      width: 100%;
      text-align: center;
      margin: 0px !important;
    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;

      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
      }

      h2 {
        color: #000;
        font-size: 25px;
        font-weight: 700;
        margin: 20px 0px;
      }

      .name {
        padding: 11px 21px;
        background-color: #D5B98B;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        border-radius: 20px;
        width: fit-content;
      }
    }

    .close-modal img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      transition: all .4s linear;
      position: absolute;
      top: 40px;
      left: 80px;

      &:hover {
        transform: rotate(45deg);
      }
    }
  }

  .data-branch-manager {
    width: 100%;
    margin: 44px 0px 40px 0px;

    li {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin-block-end: 25px;

      &:last-child {
        margin-block-end: 0px !important;
      }

      .data {
        display: flex;
        align-items: center;
        align-content: center;
        width: 60%;

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
          margin-inline-end: 12px;
        }

        .title {
          color: #005D63;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .desc {
        width: 40%;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin: 0px;
        text-align: end !important;
      }
    }
  }

  .container.owl-nav{
    position: absolute;
    top: calc(50% - 30px);
    transform: translateY(-50%);
    z-index: 999;
    margin: 0px;

    &.purpble-color{
      button{
        background-color: #D5B98B;
        border: 1px solid #D5B98B !important;
        i{
          color:#005D63 ;
        }

        &:hover{
          background-color: #005D63 !important;

          i {
            color: #D5B98B;
          }
        }
      }
    }

    &.golden-color{
      button{
        background-color: #D5B98B;
        border: 1px solid #D5B98B !important;
        i{
          color:#005D63 ;
        }

        &:hover{
          background-color: #005D63 !important;

          i {
            color: #D5B98B;
          }
        }
      }
    }
    button{
      width: 40px;
      height: 40px;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      align-content: center !important;
      margin: 0px !important;
      border-radius: 50% !important;
      position: absolute;
      i{
        font-size: 20px;
      }
      &.owl-next{
        left: -60px;
      }

      &.owl-prev{
        right: -60px;
      }

      &:hover{
        i{
          animation: tada 1s both;
          color: #fff;
        }
      }
    }
  }

  .item {
    padding: 32px 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 93, 99, 0.1);
    border-radius: 10px;

    .data-branch-manager {
      margin: 0px !important;
    }
  }
}

.modal {
  overflow-y: scroll !important;
}

.manager-modal {
  min-width: 774px !important;
}

.school-modal {
  min-width: 972px !important;
}

.filter-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.60);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: all .3s linear;
  }

  .filter-contain {
    width: 378px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    overflow-y: scroll;
    top: 0;
    left: -100%;
    z-index: 9;
    padding: 30px;
    transition: all .3s linear;

    .heading {
      width: 100%;
      margin-block-end: 40px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
  
      .head-contain {
        .page-title {
          font-size: 22px;
          font-weight: 900;
          color: #000;
          margin-bottom: 10px;
  
          span {
            color: #D5B98B;
            font-size: 22px;
            font-weight: 900;
            margin-inline-start: 10px;
          }
        }
  
        .page-desc {
          font-size: 16px;
          font-weight: 500;
          color: #919191;
          margin: 0px;
        }
      }

      .remove-btn {
        width: 40px;
        height: 40px;
        object-fit: contain;
        filter: invert(36%) sepia(90%) saturate(3231%) hue-rotate(340deg) brightness(95%) contrast(105%);
        transition: all .3s linear;

        &:hover {
          transform: rotate(45deg);
        }
      }
    }

    .form-contain {
      width: 100%;
  
      .form-group {
        width: 100%;
        margin-bottom: 20px;
  
        label {
          width: 100%;
          display: block;
          margin-bottom: 15px;
          color: #000;
          font-size: 14px;
          font-weight: 500;
        }
  
        .form-input {
          width: 100%;
          height: 47px;
          margin-bottom: 20px;
          
          &.select-input {
            position: relative;
            z-index: 9;
  
            &::after {
              content: '';
              position: absolute;
              width: 20px;
              height: 20px;
              background: url('../images/navbar/arrow_down.svg') center / contain no-repeat;
              top: calc(50% - 10px);
              left: 13px;
              z-index: 0;
            }
          }
          
          &.text-area {
            height: 100px;
  
            .form-control {
              padding: 20px;

              &:hover, &:focus {
                background-color: #fff !important;
              }
            }
          }
  
          .form-control {
            background-color: #fff;
            border: 1px solid rgba(0, 93, 99, 0.1);
            padding: 0px 20px;
            height: 100%;
            width: 100%;
            color: #005D63;
            font-size: 16px;
            font-weight: 500;
            border-radius: 24px;
            appearance: none;
            resize: none;
  
            &::placeholder {
              color: #909090;
              font-size: 16px;
              font-weight: 500;
            }
  
            &:focus, &:hover {
              background-color:  rgba(0, 93, 99, 0.06);
            }
          }
        }

        .data-select {
          width: 100%;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: flex-start;
          flex-wrap: wrap;

          .selected {
            padding: 13px 11px;
            background-color: #D5B98B;
            border-radius: 30px;
            display: flex;
            align-items: center;
            align-content: center;
            margin-top: 11px;
            margin-inline-end: 4px;

            span {
              color: #fff;
              font-size: 14px;
              font-weight: 500;
              margin-inline-end: 7px;
            }

            img {
              width: 20px;
              height: 20px;
              object-fit: contain;
              filter: invert(24%) sepia(78%) saturate(943%) hue-rotate(146deg) brightness(94%) contrast(101%);

              &:hover {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
  
      .buttons-contain {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 24px;
  
        .modal-btn {
          width: 100%;
          height: 47px;
          border-radius: 24px;
          font-size: 16px;
          font-weight: 500;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          z-index: 9;
          position: relative;
          overflow: hidden;
          color: #fff;

          span {
            color: #D5B98B;
            font-size: 16px;
            font-weight: 500;
            margin-inline-start: 10px;
          }
  
          &::after, &::before {
            content: '';
            position: absolute;
            width: 55%;
            height: 100%;
            z-index: -1;
            background-color: #005D63;
            top: 0;
            transition: all .3s linear;
          }
  
          &::after {
            left: 0;
          }
  
          &::before {
            right: 0;
          }
  
          &:hover {
            border: 1px solid #005D63;
            color: #005D63;

            &::after, &::before {
              width: 0%;
            }
          }
        }
      }
    }
  }
}

.branch-box {
  width: 100%;
  padding: 22px 18px;
  background-color: rgba($color: #D5B98B, $alpha: 0.10);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  transition: all .4s linear;

  .contain {
    width: calc(100% - 60px);

    h2 {
      font-size: 18px;
      font-weight: 700;
      color: #000;
      margin-bottom: 15px;
    }

    p {
      color: #909090;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0px;
    }
  }

  .delete-btn img {
    width: 24px;
    height: 24px;
    object-fit: contain;

    &:hover {
      animation: tada .3s linear;
    }
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.active-filter {
  visibility: visible !important;

  .overlay {
    opacity: 1 !important;
  }

  .filter-contain {
    left: 0px !important;
  }
}

.nav-screen {
  width: 100%;
  height: 160px;

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

footer {
  img {
    width: 100%;
    height: 285px;
    object-fit: fill;
    object-position: center;
  }
}

.table-resposive {
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 50px !important;

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb:hover {
    background: transparent !important;
  }
  
  table {
    width: 100%;
    padding: 0px 40px;
    background-color: #fff;
    border-radius: 20px !important;
    overflow: hidden;

    thead {
      background-color: #D5B98B;
      
      tr {
        th {
          color: #005D63;
          font-size: 16px;
          font-weight: 700;
          height: 80px;
          padding-inline-start: 40px;
        }
      }
    }

    tbody {
      tr {
        width: 100%;
        border-bottom: 1px solid #E5E5E5;

        td {
          color: #000000;
          font-size: 16px;
          font-weight: 500;
          height: 80px;
          padding-inline-start: 40px;

          .choose-data {
      
            img {
              width: 10px;
              height: 24px;
              object-fit: contain;
            }
      
            &::after {
              display: none;
            }
          }

          .dropdown-menu {
            width: 193px;
            position: absolute;
            top: 100%;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 30px rgba($color: #005D63, $alpha: 0.03);
            padding: 0px 20px;
            border: 0px !important;
            
            .dropdown-item {
              display: flex;
              align-items: center;
              align-content: center;
              padding: 20px 0px;
              border-bottom: 1px solid #F2F2F2;

              &:last-child {
                border-bottom: 0px !important;
              }

              img {
                width: 24px;
                height: 24px;
                object-fit: contain;
                margin-inline-end: 10px;
              }

              span {
                color: #000;
                font-size: 16px;
                font-weight: 500;
              }

              &:hover {
                background-color: transparent !important;

                img {
                  animation: rotation .4s linear 3;
                }

                span {
                  color: #005D63;
                }
              }
            }
          }
        }
      }
    }

    .power-list {
      padding: 20px 0px 0px !important;
      width: 407px !important;
    }
  }
}

.edit-power-table {
  padding-bottom: 0px !important;
  
  th, td {
    min-width: 100px !important;

    .power-list {
      width: 100px !important;
    }
  }
}

