@import 'global';
@import 'animations';

/*start login pages*/
@import 'login';

/*start navbar and sidenav*/
@import 'navbar';

.main-content {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 0px !important;
  padding-inline-start: 280px;
  background-color: #f6f6f6;

  &.full-contnent {
    padding-inline-start: 0px !important;
    padding-top: 80px !important;
    min-height: unset !important;
  }

  &.active-main {
    padding-inline-start: 100px !important;
  }

  .heading {
    width: 100%;
    margin-block-end: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .buttons-contain {
    display: flex;
    align-items: center;
    align-content: center;

    &.flex-end-data {
      height: 100% !important;
      flex-direction: column !important;
      justify-content: center !important;

      .add-data {
        margin-top: 15px !important;
      }
    }

    .add-data {
      width: 149px;
      height: 47px;
      border: 1px solid #005D63;
      background-color: #005D63;
      border-radius: 100px;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      z-index: 4;


      &.gold-btn {
        background-color: #D5B98B !important;
        border-color: #D5B98B !important;

        &::after, &::before {
          background-color: #005D63 !important;
        }

        &:hover {
          color: #fff !important;
        }
      }

      &.border-btn {
        background-color: #fff !important;
        color: #005D63;
        margin-inline-start: 10px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: #D5B98B;
        top: 0;
        left: 0;
        transition: all .2s linear;
        z-index: -1;
      }

      &:hover {
        color: #005D63;
        border: 0px !important;

        &::after {
          width: 100%;
        }
      }
    }

    .circle-btn {
      width: 47px;
      height: 47px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      &.white {
        background-color: #fff;
        border: 1px solid #E5E5E5;
        margin: 0px 10px;
      }

      &.gold {
        background-color: #D5B98B;
        border: 1px solid #D5B98B;
      }

      &:hover {
        img {
          animation: fadeInUp .3s linear;
        }
      }
    }
  }

  .head-contain {
    .page-title {
      font-size: 22px;
      font-weight: 900;
      color: #000;
      margin-bottom: 10px;

      &.green-title {
        color: #005D63;
      }

      span {
        color: #D5B98B;
        font-size: 22px;
        font-weight: 900;
        margin-inline-start: 10px;
      }
    }

    .page-desc {
      font-size: 16px;
      font-weight: 500;
      color: #919191;
      margin: 0px;
    }
  }
}

.sub-header {
  width: 100%;
  background-color: #fff;
  padding: 36px 0px;
  
  .heading {
    text-align: center;
    width: 100%;

    h1 {
      color: #000;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      color: #909090;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
}

.buttons-flex-contain {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  &.justify-button-center {
    justify-content: center !important;
  }

  .add-data {
    width: 149px;
    height: 47px;
    border: 1px solid #005D63;
    background-color: #005D63;
    border-radius: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 4;

    &.border-btn {
      background-color: #D5B98B !important;
      color: #fff;
      border: 1px solid #D5B98B;
      margin-inline-start: 10px;

      &::after {
        background-color: #005D63;
      }

      &:hover {
        color: #fff;
      }
    }

    &:nth-child(2) {
      margin-inline-start: 15px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 100%;
      background-color: #D5B98B;
      top: 0;
      left: 0;
      transition: all .2s linear;
      z-index: -1;
    }

    &:hover {
      color: #005D63;
      border: 0px !important;

      &::after {
        width: 100%;
      }
    }
  }

  .circle-btn {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }

    &.white {
      background-color: #fff;
      border: 1px solid #E5E5E5;
      margin: 0px 10px;
    }

    &.gold {
      background-color: #D5B98B;
      border: 1px solid #D5B98B;
    }

    &:hover {
      img {
        animation: fadeInUp .3s linear;
      }
    }
  }
}

.modal-content {
  border-radius: 10px !important;
  border: 0px !important;
}

/*parts page*/
@import 'parts';

/*home page*/
@import 'home';

/*not found*/

@import 'not_found';

@import 'media';